<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member Join Request</title>
</head>
<body>
<h1 th:text="${name}"> </h1>
<span> is asking to join in your team</span>
<h3 th:text="${team}"></h3>
<span>for the event</span>
<h2 th:text="${event}"></h2>
<h1>Please Accept or Reject the request</h1>
<button><a th:href="@{${url}+'?accept=true'}" alt='Accept'>Accept</a></button>
<button><a th:href="@{${url}+'?accept=false'}" alt='Reject'>Reject</a></button>
</body>
</html>